# Virtual environment
venv/
.venv/

# Python cache
__pycache__/
*.pyc

# VS Code
.vscode/

# Streamlit cache
.streamlit/

# Environment variables
.env

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# Large datasets (optional)
data/raw/

# Generated reports (optional)
reports/*.pdf
reports/*.png
reports/*.csv